*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main-container{
    height: 728px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-content{
    height: 500px;
    width: 500px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    height: 100px;
    width: 100%;
    border: 1px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn button{
    height: 40px;
    width: 100px;
}
.result-box{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}