*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    height: 728px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    height: 600px;
    width: 600px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    height: 100px;
    width: 100%;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-box #firstnumber{
    padding: 10px;
    height: 30px;
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box #secondnumber{
    padding: 10px;
    height: 30px;
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box{
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-box1{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-box1 #addition{
    height: 80px;
    width: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box1 #subtraction{
    height: 80px;
    width: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box2{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-box2 #multiplication{
    height: 80px;
    width: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box2 #division{
    height: 80px;
    width: 80px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-box{
    height: 100px;
    width: 100%;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}