*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    height: 728px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    height: 400px;
    width: 400px;
    border: 2px double black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.heading{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-result-box{
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-result-box #number{
    padding: 10px;
    height: 30px;
    width: 250px;
    border: 1px solid black;
}
.input-result-box button{
    height: 30px;
    width: 175px;
    border-radius: 5px;
}